Makefile.in
Makefile
compile
autom4te.cache
aclocal.m4
config.guess
config.status
config.sub
configure
depcomp
install-sh
missing
test-driver
*.trs
*.log
*.rpm
*.o
.deps
.dirstamp

booth-*.tar*

conf/booth*.service
docs/*.8
script/service-runnable
script/unit-test.py
src/b_config.h.in
src/b_config.h
src/booth_config.h
src/boothd
src/stamp-h1
src/stamp-h2
test/boothtestenv.py
test/runtests.py

# cscope files
cscope.*
ncscope.*

# ctags files
tags

# vim temp files
.*.sw?
*~

# test suite random files
*.pyc
__pycache__

cov*
