Makefile.in
Makefile
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
booth.tar.bz2
*.rpm
Doxyfile
src/.deps
src/Makefile.in
src/b_config.h.in
src/b_config.h
src/booth_config.h
src/boothd
src/stamp-h1
src/stamp-h2

# cscope files
cscope.*
ncscope.*

# ctags files
tags

autom4te.cache
*.o

test-driver
tools/.deps/
tools/booth_resource_monitord

# vim temp files
.*.sw?
*~

*.pyc

docs/boothd.8*

doxygen
